body{
	width: 800px;
	height: 800px;
	border: 1px solid black;
	display: center;
	color-background:green;
}

div[id="1"]{
	background-color: green;
	height: 200px;
	width: 50%;
	border: 1px solid black;
}